
/*contenido central*/
.contenido-central {
	display:flex;
	align-items:center;
	justify-content:center;
	gap:5rem;
	padding: 5rem 2rem;
}

.contenido-central h1,h3{
	color: var(--color-texto);
    text-align: center;	
}

h1 b{
	color: var(--color-negro);
}

.contenido-central div{
	background-color: var(--color-secundario);
	padding: 5rem 4rem;
	width:40rem;
	height: auto;
	border-radius: 1rem;
}

.logo-central {
	width:40rem;
	height: auto;
	border-radius: 1rem;
}


.btn-Menu{
	width: 100%;
    padding: 1rem;
    background-color: var(--color-blanco);
    color: var(--color-texto);
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    outline: 0.1rem solid var(--color-principal);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}