@charset "UTF-8";

.contenido-principal {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    min-height: calc(100vh - 80px); 
    padding: 2rem;
}

form{
    background: var(--color-secundario);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 100%;
	max-width: 500px;
    box-sizing: border-box;
}

form div {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--color-texto);
    font-size: 1.6rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="tel"],
select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1.4rem;
    background-color: var(--color-blanco);
    color: var(--color-texto);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}


input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
select:focus {
    border-color: var(--color-principal);
    outline: none;
    box-shadow: 0 0 0 3px rgba(123, 179, 234, 0.3);
}


.card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.card legend {
    font-weight: bold;
    padding: 0 10px;
}

.card div {
    margin-bottom: 10px;
}

.card label {
    display: block;
    margin-bottom: 4px;
}

.card input {
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
}



.contenedor-botones{
	display: flex;
    justify-content: space-between;  /* Lado a lado */
    align-items: center; 
    width: 100%; 
    padding: 10px;
	box-sizing: border-box;
}

button {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-blanco);
    color: var(--color-texto);
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    outline: 0.1rem solid var(--color-principal);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: var(--color-principal);
    box-shadow: 0 2px 8px rgba(30, 43, 55, 0.2);
}


.btnCancelar{
	width: 100%;
    padding: 1rem;
    background-color: var(--color-eliminar);
    color: var(--color-texto);
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    outline: 0.1rem solid var(--color-negro);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}


.btnCancelar:hover {
    background-color: #b71c1c;
    box-shadow: 0 2px 8px rgba(30, 43, 55, 0.2);
}